 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Cores estruturais */
  --cor-lightmode: #ffffff; /* Cor do cabecalho */
  --cor-main: #f4f4f4; /* Fundo principal */
  --cor-layout-base: #14679D; /* Cor do menu e rodape */
  --cor-darkmode: #121212; /*Cor escura aplicada ao ativar o Modo Escuro/Dark*/
  /* Cores de destaque */
  --cor-fundo-destaque: #eeeeee; /* Fundo para seçoes em destaque */
  --cor-primaria: #028dcf; /* Cor principal da identidade visual */
  --cor-secundaria: #21A859; /* Cor secundaria (ex: botoes) */
  /* Cores de fontes */
  --cor-texto-claro: #ffffff; /* Texto em fundo escuro */
  --cor-texto-escuro: #3c3c3c; /* Texto em fundo claro */
  --cor-subtitulo-primario: #14679D; /* Cor padrao para textos */
  --cor-subtitulo-secundario: #21A859; /* Para descricoes, subtitulos */
  /* Cores de hover */
  --cor-texto-titulo-navegacao-menu: #AAD400; /*Texto com hover no menu para indicar que ele é clicavel*/
}


body {
  font-size: 16px;
  transition: font-size 0.3s ease-in-out;
  background-color: var(--cor-texto-claro);
  color: var(--cor-texto-escuro);
  transition: background 0.3s ease, color 0.3s ease;
}

/*CURSOR*/

button, a {
  cursor: url('../img/cursor-pata.svg'), auto;
}

/*CONFIGURACAO PRINCIPAL*/
main {
  position: relative;
  min-height: 100vh;
  background-color: var(--cor-main);
  padding-top: 1rem;
  padding: 5%;
}

/*TOPO*/
header {
  background-color: var(--cor-lightmode); /* Adiciona um fundo suave */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-header {
  max-height: 100px;
  width: auto;
}

/*TITULOS*/
h1 {
  text-transform: uppercase;
  color: var(--cor-primaria) !important;
  font-weight: 600;
  font-size: 1.6rem;
  justify-content: center;
  display: flex;
  padding: 2%;

}


h2 {
  color: var(--cor-layout-base) !important;
  padding: 2%;
  font-weight: bold;
}

h3 {
  color: var(--cor-texto-escuro) !important;
  padding: 2%;
  font-weight: bold;
}


.card {
  box-shadow: 2px 2px 2px #d1d1d1;
  padding: 0%;
}

label.form-label {
  font-weight: 600;
  font-size: 1.2rem;
}

legend {
  font-weight: 600;
  font-size: 1.2rem;
}

.toast {
  position: fixed;
  bottom: 50%;
  right: 70px;
  min-width: 250px;
  background-color: red;
  color: #fff;
  padding: 14px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

/*BOTOES*/

.btn.botao-prosseguir {
  background-color:var(--cor-layout-base) !important;
  font-weight: 400;
  padding: 0.5rem;
  border: none;
}

.botao-prosseguir:hover {
  background-color: var(--cor-secundaria) !important;

}
.btn.botao-voltar {
  background-color:var(--cor-texto-escuro) !important;
  font-weight: 400;
  padding: 0.5rem;
  border: none;
}

.botao-voltar:hover {
  background-color: var(--cor-primaria) !important;

}

.btn.botao-sincronizar {
  background-color:var(--cor-texto-titulo-navegacao-menu) !important;
  font-weight: 400;
  padding: 0.5rem;
  border: none;
}

.botao-sincronizar:hover {
  background-color: var(--cor-primaria) !important;

}



/*RODAPE*/
footer.container-fluid {
  background-color: var(--cor-layout-base);
}

.container-footer {
  text-align: center;
  color: #fff;
  background-color: var(--cor-layout-base);
  padding: 0.4rem;
  font-size: 1rem;
}


.link-portal-footer:hover {
  font-weight: bold;
  text-shadow: 1px 1px 1px #363636;
  color: #AAD400;
}


/*ETAPA PROGRESSO*/
.etapa {
  display: none;
}
.etapa.ativa {
  display: block;
}

#progresso {
  height: 25px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
#progresso-barra {
  height: 100%;
  background-color: var(--cor-primaria);
  width: 100%;;
  transition: width 0.3s;
  color: white;
  text-align: center;
}



/*__________________________RESPONSIVIDADE*/
/* MOBILE - SMALL/PEQUENO */
@media screen and (max-width: 640px) {

  .rodape {
      font-size: 0.8rem;
  }
}